<h1>ログイン</h1>
<div class="login">
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.text_field :name, placeholder: "ユーザ名" %>
    <%= f.password_field :password , placeholder: "パスワード"%>
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="back">
  <%= link_to t('back'), root_path, class: "btn btn-primary" %>
</div>