<!-- 投稿数ランキング -->
<h1>投稿数ランキング</h1>
<table class="table">
<% @users_ranks.each.with_index(1) do |blog, i| %>
  <tr>
    <td>第<%=i %>位</td>
    <td><%= blog.name %>さん</td> 
    <td>投稿数： <%= blog.blogs.count %></td>
  </tr>
<% end %>
</table>

<!-- コメントランキング -->
<h1>コメントランキング</h1>
<table class="table">
<% @comments_ranks.each.with_index(1) do |blog, i| %>
  <tr>
    <td>第<%=i %>位</td>
    <td><%= blog.title %></td>
    <td>コメント数：<%= blog.comments.count %></td>
    <td><%= blog.created_at.strftime("%Y/%m/%d") %></td>
<% end %>
</table>

<!-- いいねランキング -->
<h1>いいねランキング</h1>
<table class="table">
<% @likes_ranks.each.with_index(1) do |blog, i| %>
  <tr>
    <td>第<%=i %>位</td>
    <td><%= blog.title %></td>
    <td>いいね数：<%=blog.likes.count %></td>
    <td><%= blog.created_at.strftime("%Y/%m/%d") %></td>
<% end %>
</table>

<!-- アクセスランキング -->
<h1>アクセスランキング</h1>
<table class="table">
<% @access_ranks.each.with_index(1) do |blog, i| %>
  <tr>
    <td>第<%=i %>位</td>
    <td><%= blog.title %></td>
    <td>閲覧数：<%=blog.impressions_count %></td>
    <td><%= blog.created_at.strftime("%Y/%m/%d") %></td>
<% end %>
</table>
<%= link_to t('back'), root_path, class: "btn btn-primary" %>
