<p id="notice"><%= notice %></p>
<h1>ブログ一覧</h1>
<%= render 'blogs/user' %>  
<%= render 'blogs/login' %>

<!-- 検索の追加 -->
<div class="form">
<%= form_with(path: :blogs_path, local: true, method: :get) do |form| %>
  <%= form.text_field :search_title, value: params[:search_title],placeholder: "タイトル検索" %>
<% end %>
<%= javascript_include_tag "search.js" %>
<%= link_to t('ranking'), ranking_path, class: "btn btn-primary" %>
<%= link_to "復元", boxs_path, class: "btn btn-primary" %>
</div>
<table class="table"> 
  <thead>
    <tr>
      <th>タイトル</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="blogs">
    <% @blogs.each do |blog| %>
      <tr>
        <!-- タイトルを追加 -->
        <td><%= blog.title %></td>
        <td><%= link_to t('show'), blog ,class: "btn btn-primary"%></td>
        <td><%= link_to t('edit'), edit_blog_path(blog),class: "btn btn-primary" %></td>
        <td><%= link_to t('destroy'), blog, class: "btn btn-primary", method: :delete ,data: {confirm: "削除しますか？"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @blogs %>
<%= render 'blogs/blogs_link' %>