<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<!-- 検索の追加 -->
    <%= form_with(path: :blogs_path, local: true, method: :get) do |form| %>
  <label for="search_title"><%= t('activerecord.attributes.blog.title') %></label><%= form.text_field :search_title, value: params[:search_title] %>
  <%= submit_tag t('search'), name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        
    <% @blogs.each do |blog| %>
      
      <tr>
        <!-- 作成日を追加 -->
        <td><%= blog.created_at.strftime("%Y/%m/%d") %></td>
        <!-- タイトルを追加 -->
        <td><%= blog.title %></td>
        <td><%= link_to t('show'), blog %></td>
        <td><%= link_to t('edit'), edit_blog_path(blog) %></td>
        <td><%= link_to t('destroy'), blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_blog'), new_blog_path %>
