<p id="notice"><%= notice %></p>

<h1>Blogs</h1>
<!-- ログインユーザ -->
現在ログイン中のユーザ：<strong><%=current_user.name %></strong>
<!-- 検索の追加 -->
<%= form_with(path: :blogs_path, local: true, method: :get) do |form| %>
  <label for="search_title"><%= t('activerecord.attributes.blog.title') %></label><%= form.text_field :search_title, value: params[:search_title], remote: true %>
  <!-- 年月日 -->
  <label for="search_created_at"><%= t('activerecord.attributes.blog.created_at') %></label><%== sprintf(form.date_select(:search_created_at, selected: params[:search_created_at], prompt:"-", use_month_numbers: true, date_separator:'%s'),'年','月') %>日
  
  <input type="button" onclick="location.href='<%= blogs_path %>'" value="削除">
<% end %>

<table id = "blogs">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        
    <% @blogs.each do |blog| %>
      
      <tr>
        <!-- 作成日を追加 -->
        <td><%= blog.created_at.strftime("%Y/%m/%d") %></td>
        <!-- タイトルを追加 -->
        <td><%= blog.title %></td>
        <td>ユーザ：<%= blog.user.name %></td>
        <td><%= link_to t('show'), blog %></td>
        <td><%= link_to t('edit'), edit_blog_path(blog) %></td>
        <td><%= link_to t('destroy'), blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- 投稿数ランキング -->
<table>
<caption>投稿数ランキング</caption>
<% @users_ranks.each.with_index(1) do |blog, i| %>
  <tr>
    <td>第<%=i %>位</td>
    <td>ユーザ：<%= blog.name %></td> 
    <td>投稿数： <%= blog.blogs.count %></td>
  </tr>
<% end %>
</table>

<!-- コメント投稿数ランキング -->
<table>
<caption>コメント投稿数ランキング</caption>
<% @comments_user_ranks .each.with_index(1) do |comment, i| %>
  <tr>
    <td>第<%=i %>位</td>
    <td>ユーザ：<%= comment.name %></td> 
    <td>投稿数：<%= comment.comments.count %></td>
  </tr>
<% end %>
</table>

<!-- コメントランキング -->
<table>
<caption>コメントランキング</caption>
<% @comments_ranks.each.with_index(1) do |blog, i| %>
  <tr>
    <td>第<%=i %>位</td>
    <td><%= blog.title %></td>
    <td>コメント数：<%= blog.comments.count %></td>
    <td><%= blog.created_at.strftime("%Y/%m/%d") %></td>
<% end %>
</table>

<!-- いいねランキング -->
<table>
<caption>いいねランキング</caption>
<% @likes_ranks.each.with_index(1) do |blog, i| %>
  <tr>
    <td>第<%=i %>位</td>
    <td><%= blog.title %></td>
    <td>いいね数：<%=blog.likes.count %></td>
    <td><%= blog.created_at.strftime("%Y/%m/%d") %></td>
<% end %>
</table>

<!-- アクセスランキング -->
<table>
<caption>アクセスランキング</caption>
<% @access_ranks.each.with_index(1) do |blog, i| %>
  <tr>
    <td>第<%=i %>位</td>
    <td><%= blog.title %></td>
    <td>閲覧数：<%=blog.impressions_count %></td>
    <td><%= blog.created_at.strftime("%Y/%m/%d") %></td>
<% end %>
</table>
<br>

<%= link_to t('new_blog'), new_blog_path %>
<%= link_to t('logout'), logout_path, method: :delete %>
