<p id="notice"><%= notice %></p>

<!-- h1タグでタイトルを表示 -->
<h1><%= @blog.title %></h1>

<!-- 本文を表示 -->
<%= simple_format(@blog.body) %>

<%= tag.div id: :comments_area do %>
    <%= render partial: "comments/index", locals: { comments: @blog.comments } %>
  <% end %>

<%= tag.div id: :comment_form do %>
    　<%= render partial: "comments/form", locals: { comment: @blog.comments.build } %>
    <% end %>
<%= link_to t('edit'), edit_blog_path(@blog) %> |
<%= link_to t('back'), blogs_path %>

