<p id="notice"><%= notice %></p>
<%= render 'blogs/user' %>
<%= render 'blogs/login' %>
<!-- h1タグでタイトルを表示 -->
<h1><%= @blog.title %></h1>
<!-- 本文を表示 -->
<%= simple_format(@blog.body) %>
<!-- ログインユーザがnilならいいねを非表示にする -->
<% if current_user != nil %>
  <!-- いいねの表示 -->
  <% if current_user.already_liked?(@blog) %>
    <%= button_to 'いいねを取り消す', blog_like_path(@blog), class: 'btn btn-success',method: :delete, remote: true %>
  <% else %>
    <%= button_to 'いいね', blog_likes_path(@blog),class: 'btn btn-success', remote: true %>
  <% end %>
<% end %>
  いいね数：<%= @blog.likes.count %>


<!-- コメント -->
<%= tag.div id: :comments_area do %>
  <%= render partial: "comments/index", locals: { comments: @blog.comments } %>
<% end %>

<!-- ログインユーザがnilならコメント投稿を非表示にする -->
<% if current_user != nil %>
  <!-- コメント投稿 -->
  <%= tag.div id: :comment_form do %>
    <%= render partial: "comments/form", locals: { comment: @blog.comments.build } %>
  <% end %>
<% end %>

<!-- 閲覧数 -->
<strong>閲覧数:</strong>
<%= @blog.impressions_count %>
<br>
<%= render 'blogs/show_link' %>